HappyTicketQML/qml/content/images/Thumbs.db
*.user
*.Debug
*.Release
*.o
HappyTicketQML/release/qrc_qml.cpp
*.exe
HappyTicketQML/release/moc_bustthread.cpp
HappyTicketQML/release/moc_thrwrap.cpp
SDKmanager/Makefile
SDKmanager/debug/moc_macwrap.cpp
SDKmanager/debug/moc_mainwindow.cpp
SDKmanager/debug/moc_rxpacket.cpp
SDKmanager/debug/moc_settings.cpp
SDKmanager/debug/moc_txpacket.cpp
ft_analyze/Makefile
SDKmanager/SDKmanager.pro.user.2.7pre1
ft_analyze/debug/moc_ocldft.cpp
ft_analyze/%SystemDrive%/ProgramData/Microsoft/Windows/Caches/{DDF571F2-BE98-426D-8288-1A9A39C3FDA2}.2.ver0x0000000000000001.db
ft_analyze/%SystemDrive%/ProgramData/Microsoft/Windows/Caches/{6AF0698E-D558-4F6E-9B3C-3716689AF493}.2.ver0x0000000000000001.db
ft_analyze/%SystemDrive%/ProgramData/Microsoft/Windows/Caches/cversions.2.db
ft_analyze/debug/moc_controller.cpp
ft_analyze/debug/moc_mainwindow.cpp
ft_analyze/debug/moc_model.cpp
ft_analyze/debug/moc_wavfile.cpp
tic-tac-toe/tic-tac-toe.pro.user.18
tic-tac-toe/tic-tac-toe.pro
tic-tac-toe/tic-tac-toe.pro.user.3.2-pre1