HappyTicketQML/qml/content/images/Thumbs.db
*.user
*.Debug
*.Release
*.o
HappyTicketQML/release/qrc_qml.cpp
*.exe
HappyTicketQML/release/moc_bustthread.cpp
HappyTicketQML/release/moc_thrwrap.cpp
SDKmanager/Makefile
SDKmanager/debug/moc_macwrap.cpp
SDKmanager/debug/moc_mainwindow.cpp
SDKmanager/debug/moc_rxpacket.cpp
SDKmanager/debug/moc_settings.cpp
SDKmanager/debug/moc_txpacket.cpp